@using SnippitDeleteViewModel = Snippit.Models.ViewModels.SnippitDeleteViewModel
@model SnippitDeleteViewModel

@{
    ViewBag.Title = "Snippit Delete page";
    Layout = "_Layout";
}

<h2>Snippit Delete page</h2>
