@using SnippitDetailViewModel = Snippit.Models.ViewModels.SnippitDetailViewModel
@model SnippitDetailViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Snippit Detail view</title>
</head>
<body>
    <div>

    </div>
</body>
</html>