@model Snippit.Models.SnippitViewModels.SnippitEditViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit Snippit Page</title>
</head>
<body>
<div>
      
</div>
</body>
</html>